body {
  font-family: "Roboto", sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
    padding: 24px;
}

.container {
    display: flex;
    flex: 1;
}
.nav {
    padding: 16px;
}
.content {
    padding: 16px;
}

.footer {
    padding: 16px;

    display: flex;
    justify-content: center;
}